body {
    font-family: 'Baloo Da 2', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    padding: 37px 25px 35px 27px;
}

.login__navbar {}

.login__banner {
    text-align: center;
    margin-top: 54px;
}

.login__logo {
    text-align: center;
    margin-top: 76px;
}

.login__name-field input {
    display: flex;
    width: 259px;
    padding: 19px 0 19px 50px;
    align-items: center;
    gap: 15px;
    color: #8A94A6;
    font-family: Baloo Da 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border-radius: 12px;
    border: 1px solid #E5E7F0;
    background: #FFF;
    background-image: url(./images/Vector.png);
    background-repeat: no-repeat;
    background-position: 18px 20px;
    margin-top: 42px;
}

.login__password-field input {
    display: flex;
    width: 259px;
    padding: 19px 0 19px 50px;
    align-items: center;
    gap: 15px;
    color: #8A94A6;
    font-family: Baloo Da 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
    border-radius: 12px;
    border: 1px solid #E5E7F0;
    background: #FFF;
    background-image: url(./images/Group\ 4903.png);
    background-repeat: no-repeat;
    background-position: 18px 20px;
    margin-top: 20px;
}

.login__forget-password {
    color: #007AFF;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
}

.login__button {
    display: flex;
    width: 310px;
    height: 60px;
    padding: 19px 18px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    border-radius: 12px;
    background: linear-gradient(180deg, #258AFF 0%, #0063FF 100%);
    color: #FFF;
    font-family: Baloo Da 2;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    border: none;
    margin-top: 42px;
}