* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Da 2', cursive;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    padding: 37px 25px 35px 27px;
}

.login__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout__button {
    width: 107px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F8F8FB;
    color: var(--gray, #8A94A6);
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 133.714%;
    border: none;
    letter-spacing: 0.39px;
    background-image: url(./images/Vector.png);
    background-repeat: no-repeat;
    background-position: 75px 13px;
    padding-right: 43px;
    padding-left: 17px;
}

.total__product-so {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 122, 255, 0.17);
    background: rgba(0, 122, 255, 0.02);
    padding: 28px 20px 30px 23px;
    margin-top: 35px;
}

.total__product-so-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.total__product-so-right {
    color: #007AFF;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.total__product-title {
    color: var(--black-2, #595F84);
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 20.8px */
}

.total__product-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.total__product-filter-icon {
    margin-top: 22px;
    margin-left: 15px;
}

.total__product-filter-data {
    width: 235px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8.65px;
    background: #F8F8FB;
}

.total__product-filter-data p {
    color: var(--black-2, #595F84);
    font-family: Plus Jakarta Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.39px;
    padding: 12px 0 12px 15px;
}

.product__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}

.product__card {
    text-align: center;
    width: 149px;
    height: 132px;
    flex-shrink: 0;
    border-radius: 8.65px;
    border: 0.865px solid rgba(46, 49, 133, 0.08);
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 46, 97, 0.03);
    padding-top: 19px;
}

.product__name {
    color: var(--black, #222950);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Baloo Da 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    margin-top: 13px;
}

.product__weight {
    color: var(--gray, #8A94A6);
    text-align: center;
    font-family: Baloo Da 2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 6px;
}







.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 39px 21px 40px;
    border-radius: 20px 20px 0px 0px;
    background: #FFF;
    box-shadow: 0px -5px 50px 0px rgba(0, 45, 94, 0.12);
}